@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
  font-family: Ubuntu;
}

.selected-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  background-color: #382618;
  border-radius: 15px;
  margin-top: 10px;
}


.shop-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 20px;
  width: 50%;
  background-color: #382618;
  border: 1px solid #a39c8e;
  border-radius: 15px;
  margin-top: 10px;
}

.selected-shop-img {
  width: 50%;
  margin-bottom:2px;
}
.shop-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100vh;
  background-color: #f3ecdf;
}

.selected-shop {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.shop-list {
  overflow-y: scroll;
  height: 100%;
  padding: 0px 100px;
  width: 100%;
}

.shop-list::-webkit-scrollbar {
  display: none;
}

.shop-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

.shop-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
  padding: 0px 20px;
  background-color: white;
  border-radius: 25px;
  margin-top: -30px;
  margin-bottom: 20px;
}

.shop-info h6 {
  margin-top: 0;
}

.selected-shop-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 40px 20px;
  background-color: white;
  border-radius: 25px;
  margin-top: -40px;
}

.selected-shop-info h4 {
  margin-bottom: 0;
}

.more-info-button{
  background-color: #382618;
  color: white;
  height: 30px;
  font-family: Ubuntu;
  margin-bottom: 10px;
}

.more-info-button:hover {
  background-color: #d2c9b7;
  cursor: pointer;
  color:#382618
}

.edit-button{
  background-color: #d2c9b7;
  color: #382618;
  height: 30px;
  font-family: Ubuntu;
  margin-bottom: 10px;
}

.edit-button:hover {
  background-color: #382618;
  cursor: pointer;
  color:#d2c9b7
}

.delete-edit-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.selected-shop-gallery-reviews {
  width: 100%;
  margin-top: 1px;
  padding: 20px;
}

.add-review {
  background-color: #382618;
  color: white;
  height: 30px;
  font-family: Ubuntu;
  margin-bottom: 10px;
}

.add-review:hover {
  background-color: #d2c9b7;
  cursor: pointer;
  color: #382618;
}

.reviews-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: auto;
  width: 100%;
  height: 100vh;
  border-radius: 15px;
  margin-bottom: 50px;
  border: 1px solid #d2c9b7;
  background-color: #d2c9b7;
  padding: 100px 0px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.reviews-box::-webkit-scrollbar {
  display: none;
}



.reviews-box-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: whitesmoke;
  width: 74%;
  height: 250px;
  border-radius: 15px;
}

.review-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: whitesmoke;
  width: 80%;
  /* height: 50%; */
  border-radius: 15px;
  margin: 5px;
  padding: 20px;
}

.review-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #382618;
  padding: 20px;
}

.review-profile-img {
  height: 70px;
  border-radius: 50%;
}

.review-content {
  padding: 20px;
}

.review-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}
