@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
  font-family: Ubuntu;
}

.selected-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
  width: 85%;
  height: 150px;
  background-color: #382618;
  border-radius: 15px;
  margin-top: 10px;
}

.selected-shop-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.selected-img-box img {
  border-radius: 15px;
  max-height: 120px;
  width: auto;
}


.shop-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 20px;
  width: 50%;
  background-color: #382618;
  border: 1px solid #a39c8e;
  border-radius: 15px;
  margin-top: 10px;
  height: auto;
}

.shop-img-box img {
  border-radius: 15px;
}

.selected-shop-img {
  width: 50%;
  margin-bottom:2px;
}
.shop-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  background-color: #f3ecdf;
  padding: 100px 0px;
  margin-bottom: 100px;
}

.selected-shop {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 40px;
  margin-bottom: 200px;
}

.average-rating {
  color: red;
  height: 30px;
}

.shop-list {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.shop-list::-webkit-scrollbar {
  display: none;
}

.shop-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  transition-duration: 0.5s;
}

.shop-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  padding: 0px 20px;
  background-color: white;
  border-radius: 25px;
  margin-top: -30px;
  margin-bottom: 20px;
}

.shop-info:hover {
   box-shadow: 0px 10px 10px 1px #aaa18f;
   transform: scale(1.1);
}

.shop-info h6 {
  margin-top: 0;
}

.selected-shop-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 40px 20px;
  background-color: white;
  border-radius: 25px;
  margin-top: -40px;
}

.selected-shop-info h4 {
  margin-bottom: 0;
}

.more-info-button{
  background-color: #382618;
  color: white;
  height: 30px;
  font-family: Ubuntu;
  margin-bottom: 10px;
}

.more-info-button:hover {
  background-color: #d2c9b7;
  cursor: pointer;
  color:#382618
}

.edit-button{
  background-color: #d2c9b7;
  color: #382618;
  height: 30px;
  font-family: Ubuntu;
  margin-bottom: 10px;
}

.edit-button:hover {
  background-color: #382618;
  cursor: pointer;
  color:#d2c9b7
}

.delete-edit-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.selected-shop-gallery-reviews {
  width: 100%;
  margin-top: 1px;
  padding: 20px;
}

.add-review {
  background-color: #382618;
  color: white;
  height: 30px;
  font-family: Ubuntu;
  margin-bottom: 10px;
}

.add-review:hover {
  background-color: #d2c9b7;
  cursor: pointer;
  color: #382618;
}




.reviews-box {
  display: block;
  background-color: white;
  height: auto;
  width: 80%;
  border-radius: 15px;
  border: 1px solid #d2c9b7;
  background-color: #d2c9b7;
  padding: 40px 40px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.reviews-box::-webkit-scrollbar {
  display: none;
}



.reviews-box-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.review-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
  border-radius: 15px;
  margin: 20px 0px;
}

.review-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d2c9b7;
  padding: 20px;
  height: 100%;
}

.review-profile-img {
  height: 70px;
  border-radius: 50%;
}

.review-content {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.review-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  box-sizing: border-box;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.reviews-box-header textarea {
  border: 1mm ridge whitesmoke;
  border-radius: 15px;
  margin-bottom: 2px;
  width:300%;
  height: 100px;
}

.delete-review {
  background-color: #381818;
  color: white;
  height: 50px;
  font-family: Ubuntu;
  margin-bottom: 10px;
}

.delete-review:hover {
  background-color: #d2c9b7;
  cursor: pointer;
  color: #382618;
}

.no-reviews {
  align-self: center;
  margin-left: 10px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 20px;
  position: fixed;
  z-index: 1;
  top: 18px;
  left: 50%;
}

.search input {
  height: 30px;
  width: 200px;
  -webkit-box-shadow:inset 0 0 5px #d2c9b7;
  -moz-box-shadow:inset 0 0 5px #d2c9b7;
       box-shadow:inset 0 0 5px #d2c9b7;
  background: transparent;
}

.search img {
  background-color: #382618;
  height: 30px;
  border-radius: 5px;
  margin-top: 18px;
}

.search img:hover {
  background-color: #d2c9b7;
  color:#382618;
  cursor: pointer;
}

.search-results {
  display: none;
}

.show {
  display: flex;
  background-color: whitesmoke;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 58px;
  width: 160px;
  height: 100px;
  padding: 40px;
  overflow-y:scroll;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.search-result {
  cursor: pointer;
  width: 100%;
}

.show h6 {
  margin:0;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
}

.show h6:hover {
  background-color: white;
}

.show::-webkit-scrollbar {
  display: none;
}
