.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 100vw;
    background-color: whitesmoke;
    border-top: 1px solid #d2c9b7;
    position: fixed;
    bottom: 0;
    left:0;
}

.popup {
    display: inline-block;
    position: relative;
    transition: all 0.5s ease-out;
}

.popup-box {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 26px;
    transition: all 0.5s ease-out;
}

.links-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5px;
}

.links-profile a {
    text-decoration: none;
}

.links-profile a:hover {
    font-size: 16px;
    background-color: #382618;
    color: white;
    border-radius: 15px;
    width: 100%;
    display: block;
    
}

.show-info {
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    width: 300px;
    height: 100px;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: all 0.5s ease-out;
}

.show-info > a {
    text-decoration: none;
    width: 100%;
    padding:10px 10px;
    transition: all 0.5s ease-out;
}

.show-info > a:hover {
    background-color: #382618;
    color: white;
}

.pop-up-button:hover {
    cursor: pointer;
    color: #d2c9b7;
    transition: all 0.5s ease-out;
}
