/* TODO Add site wide styles */
 * {
     font-family: Helvetica;
 }

 body {
     margin: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100vw;
     height: auto;
 }
