/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
     font-family: Ubuntu;
     margin: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: 100%;
     box-sizing: border-box;
     overflow-x: hidden;
 }

 html {
     height: 100%;
     box-sizing: border-box;
     background-color: #f3ecdf;
     width: 100%;
     margin: 0;
 }

 .app-container {
     display: block;
     box-sizing: border-box;
     width: 100%;
     background-color: whitesmoke;
     margin:0;
 }
