.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  height: 100vh;
  width: 100%;
  margin-top: 0;
}

.splash-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  background-color: #f3ecdf;
  overflow-y: scroll;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.splash-body::-webkit-scrollbar {
  display: none;
}

.splash-page-header{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  font-family: Ubuntu;
  justify-content: space-between;
  color: #382618;
  width: 300px;
  font-size: larger;
  font-weight: bolder;
  background-image: url('/public/images/Icon.png');
  background-position-x: 120%;
  background-size: 130px;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.splash-body img {
  border-radius: 15px;
  width: 460px;
}

h1 {
  margin-bottom: 0;
}

h4 {
  margin-bottom: 0;
}

.splash-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  border: 1px solid white;
  border-radius: 15px;
  background-color: white;
  padding: 20px;
  font-family: Ubuntu;
  margin-top: -40px;
}

.splash-header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.splash-sign-up {
  background-color: #382618;
  color: white;
  height: 50px;
  width: 400px;
  font-size: larger;
  font-weight: bolder;
  font-family: Ubuntu;
  transition: all 0.5s ease-out;
}

.splash-sign-up a{
  color: white;
}

.splash-sign-up:hover {
  background-color: #d2c9b7;
  color:#382618;
}

li {
  list-style-type: none;
  margin-bottom: 3px;
  margin-top: 0;
}
