@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #382618;
    margin: 0;
    width: auto;
    background-color: whitesmoke;
}

.logo img {
    height: 80px;
    margin-top: 2px;
    margin-left: 125px;
    position: absolute;
    left: 0;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
    position: fixed;
    margin-left: 30px;
    left: 0;
    top: 0;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    margin: 30px 30px;
}

button {
    margin: 0px 15px;
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid #d2c9b7;
}

button a {
    text-decoration: none;
    color: black;
}

.sign-up {
    background-color: #382618;
    color: white;
    height: 30px;
}

.log-in:hover {
    background-color: #d2c9b7;
    cursor: pointer;
    color:#382618
}

.sign-up a{
    color: white;
}

.sign-up:hover {
    background-color: #d2c9b7;
    color:#382618;
}

h3 {
    font-family: Ubuntu;
    font-size: x-large;
    margin-top: 30px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-right: 40%;
}

.search input {
    height: 30px;
    width: 200px;
}

.search img {
    background-color: #382618;
    height: 38px;
    border-radius: 5px;
    margin-left: 1px;
}

.search img:hover {
    background-color: #d2c9b7;
    color:#382618;
}
