@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid #d2c9b7;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    background-color: whitesmoke;
  }

.nav-container {
  background-color: whitesmoke;
  width: 100%;
  padding: 0;
}

.logo img {
    height: 75px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin: 15px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    margin: 15px;
    font-family: Ubuntu;
}

button {
    margin: 0px 15px;
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid #d2c9b7;
}

button a {
    text-decoration: none;
    color: black;
}

.sign-up {
    background-color: #382618;
    color: white;
    height: 30px;
    font-family: Ubuntu;
    transition: all 0.5s ease-out;
}

.sign-up a{
    color: white;

}

.sign-up:hover {
    background-color: #d2c9b7;
    color:whitesmoke;
    cursor: pointer;
}

h3 {
    font-family: Ubuntu;
    font-size: x-large;
    margin-top: 30px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout{
    background-color: #382618;
    color: white;
    height: 30px;
    font-family: Ubuntu;
    transition: all 0.5s ease-out;
}

.logout:hover {
    background-color: #d2c9b7;
    cursor: pointer;
    color:#382618
}

.demo-button {
  font-family: Ubuntu;
  background-color: #d2c9b7;
  color: whitesmoke;
  height: 30px;
  width: 100px;
  transition: all 0.5s ease-out;
}
.demo-button:hover {
  background-color: #382618;
  color: #d2c9b7;
  cursor: pointer;
}
.log-in-button {
  background-color: #382618;
  color: white;
  height: 30px;
  font-family: Ubuntu;
  transition: all 0.5s ease-out;
}
.log-in-button:hover {
  background-color: #d2c9b7;
  color: whitesmoke;
  cursor: pointer;
}
NavLink {
  text-decoration: none;
}
.menu {
  background-color: #382618;
  color: white;
  height: 30px;
  font-family: Ubuntu;
  transition: all 0.5s ease-out;
}
.menu:hover {
  background-color: #d2c9b7;
  color: whitesmoke;
  cursor: pointer;
}
.add-business {
  background-color: #382618;
  color: white;
  height: 30px;
  width: 130px;
  font-family: Ubuntu;
  transition: all 0.5s ease-out;
}
.add-business:hover {
  background-color: #d2c9b7;
  color: whitesmoke;
  cursor: pointer;
}
